<!DOCTYPE html>
<html>
<head>
  <title>GoalsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    Hello <%= current_user.username %>
    <%= button_to "Log Out", session_url, method: :delete %>
  <% end %><br>

  <% if flash[:messages] %>
    <% flash[:messages].each do |msg| %>
      <%= msg %>
    <% end %>
  <% end %>

<%= yield %>

</body>
</html>
